<div *ngIf="!muestraNuevo || hasRoute()==='/locales'" >
    <div class="align-bottom" >
        <div class="row  d-flex justify-content-between">
            <div class="col-6">
                <h2 class="ml-5">Locales</h2>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-outline-primary  mr-5 mb-2" routerLink="nuevo-local" (click)="nuevoLocal()" ngbTooltip="Nuevo local">
                    <i class="fa fa-plus-square fa-sm p-2"></i>Nuevo</a>
            </div>

        </div>
    </div>
    <table class="table table-striped " *ngIf="locales.length > 0">
    <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col"></th>
            </tr>
    </thead>
        <tbody>
        <tr *ngFor="let local of locales; let i = index">
            <td><a >{{ i+1}}</a></td>
            <td><a >{{ local.nombreLocal}}</a></td>
            <td>{{local.direccionLocal}}</td>
            <td>{{local.telefonoLocal}}</td>
            <td>
                <div class="text-center">
                    <a class="btn btn-outline-secondary m-1" [routerLink]="['/locales', local.localId]" ngbTooltip="Configurar"><i class="fa fa-cog fa-sm"></i></a>
                    <button class="btn btn-outline-danger m-1"  type="button" (click)="deleteLocal(local, i)" ngbTooltip="Eliminar"><i class="fa fa-trash-o fa-sm"></i></button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <app-loading  *ngIf="cargando"></app-loading>
    <app-norecords *ngIf="!cargando && locales.length===0"></app-norecords>


</div>



<div>
    <app-nuevo-local *ngIf="muestraNuevo" (nuevoLocal)="nuevoLocal( )" (recargaLocales)="getLocales()"></app-nuevo-local>
</div>
